# Importing Libraries And Reading The Dataset From Local Storage

In [78]:
import nltk
import pandas as pd

In [79]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Sneha
[nltk_data]     Saravanan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [80]:
fake = pd.read_csv('Fake.csv')
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [81]:
genuine = pd.read_csv('True_News.csv')
genuine

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

# Pre-Processing and Merging the Datasets

In [82]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [83]:
genuine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [84]:
display(fake.subject.value_counts())
print("\n")
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [85]:
fake['target'] = 0
genuine['target']=1

In [86]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [87]:
data = pd.concat([fake, genuine], axis=0)

In [88]:
data = data.reset_index(drop=True)
data

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [89]:
data = data.drop(['subject', 'date', 'title'], axis=1)

In [90]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

# Tokenization

In [91]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [92]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

# Stemming

In [93]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [94]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [95]:
data['text'] = data['text'].apply(stem_it)

In [96]:
print(data.head(0))

Empty DataFrame
Columns: [text, target]
Index: []

# Stopword Removal

In [97]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [98]:
data['text']=data['text'].apply(stop_it)

In [99]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [100]:
data['text']=data['text'].apply(' '.join)

# Splitting the Data

In [101]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(x_train.head())
print("\n")
display(y_train.head())

9022     when texa governor greg abbott said that texan...
9428     trey gowdi rail against the eros trust between...
12196    the video the professor rant was sent occ coll...
8532     bristol palin had someth say and ponder some q...
33635    washington reuter presid barack obama met mond...
Name: text, dtype: object

9022     0
9428     0
12196    0
8532     0
33635    1
Name: target, dtype: int64

# Vectorization

In [113]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)
tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test = my_tfidf.transform(x_test)

In [114]:
print(tfidf_train)

  (0, 30348)	0.06395121554094639
  (0, 86977)	0.031823085080525226
  (0, 41075)	0.03376791534248785
  (0, 31476)	0.035416396741347445
  (0, 13901)	0.04814802610674059
  (0, 69432)	0.02802676316450523
  (0, 88236)	0.03884971138662389
  (0, 64726)	0.08645330592187063
  (0, 13679)	0.02318005584032575
  (0, 59341)	0.018758857961328677
  (0, 78176)	0.037342795112747844
  (0, 37895)	0.018808022346131527
  (0, 19372)	0.08920996798783762
  (0, 85630)	0.08610624323118996
  (0, 11118)	0.051410197415690195
  (0, 42253)	0.043199731677481264
  (0, 25571)	0.06563526422789662
  (0, 80636)	0.04850532939695307
  (0, 79526)	0.10063724941093422
  (0, 83145)	0.06386812931736814
  (0, 39820)	0.06198441824646871
  (0, 71511)	0.07011401855490262
  (0, 49910)	0.044964959969519366
  (0, 60351)	0.03310687221957491
  (0, 32276)	0.05981796551578662
  :	:
  (33671, 41556)	0.099004933613719
  (33671, 13697)	0.06599935438270181
  (33671, 63290)	0.05240471497836702
  (33671, 13679)	0.14551501654176632
  (33671, 37179)	0.09904612410758303
  (33671, 31082)	0.0887658596362522
  (33671, 60328)	0.07946061242634303
  (33671, 60903)	0.08420072405158781
  (33672, 67861)	0.480658067337574
  (33672, 35713)	0.4938522499366909
  (33672, 62354)	0.3412368346542814
  (33672, 31603)	0.26877999125782215
  (33672, 76707)	0.19702668366549633
  (33672, 42795)	0.2595278739832645
  (33672, 78840)	0.2147130156139851
  (33672, 26784)	0.1604566046195959
  (33672, 9646)	0.14815402068597416
  (33672, 44911)	0.11517221567751491
  (33672, 80831)	0.17144669636633064
  (33672, 25886)	0.12870640730828534
  (33672, 91239)	0.1127585686528161
  (33672, 59341)	0.07582827309901273
  (33672, 49622)	0.10932892325741703
  (33672, 50330)	0.14751234829674434
  (33672, 81674)	0.15817583180331612

# Logistic Regression

In [115]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [116]:
model = LogisticRegression(max_iter=900)
model.fit(tfidf_train, y_train)
pred = model.predict(tfidf_test)
cr = accuracy_score(y_test, pred)
print(cr*100)

98.7706013363029

# PassiveAggresive Classifier

In [120]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [121]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print("The accuracy of the prediction is", accscore*100)

The accuracy of the prediction is 99.53674832962139